<a href="https://colab.research.google.com/github/single-spec/Data-Analysis/blob/main/CasperSessionAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#uploading the dataset from local desktop
from google.colab import files
uploaded = files.upload()

Saving Casper_Takehome_Test_Sessions.xls to Casper_Takehome_Test_Sessions.xls

In [2]:
#reading the order file using pandas
import io
import pandas as pd
import numpy as np
df = pd.read_excel(io.BytesIO(uploaded['Casper_Takehome_Test_Sessions.xls']))
df

          Date  ...  Snapchat X Retail Locations Page Sessions
0   2019-01-01  ...                                       1299
1   2019-01-02  ...                                       1149
2   2019-01-03  ...                                       1956
3   2019-01-04  ...                                       2944
4   2019-01-05  ...                                       1946
..         ...  ...                                        ...
726 2020-12-27  ...                                      13838
727 2020-12-28  ...                                      15195
728 2020-12-29  ...                                      14406
729 2020-12-30  ...                                      14048
730 2020-12-31  ...                                      14442

[731 rows x 25 columns]

In [3]:
#cleaning the dataset, if there are any null values it will be replaced by 0
cleaned_df = df.replace(np.nan,0)
cleaned_df.head(10)

        Date  ...  Snapchat X Retail Locations Page Sessions
0 2019-01-01  ...                                       1299
1 2019-01-02  ...                                       1149
2 2019-01-03  ...                                       1956
3 2019-01-04  ...                                       2944
4 2019-01-05  ...                                       1946
5 2019-01-06  ...                                       1767
6 2019-01-07  ...                                       1364
7 2019-01-08  ...                                       1738
8 2019-01-09  ...                                       3131
9 2019-01-10  ...                                       3740

[10 rows x 25 columns]

In [5]:
#Sum of the total number of orders according to the traffic sources
dflist_organic = ['Organic X Homepage Sessions','Organic X Mattress Page Sessions','Organic X Bedding Page Sessions','Organic X Retail Locations Page Sessions']
dflist_direct = ['Direct X Homepage Sessions','Direct X Mattress Page Sessions','Direct X Bedding Page Sessions','Direct X Retail Locations Page Sessions']
dflist_googlesearch = ['Google Search X Homepage Sessions','Google Search X Mattress Page Sessions','Google Search X Bedding Page Sessions','Google Search X Retail Locations Page Sessions']
dflist_youtube = ['YouTube x Homepage Sessions','YouTube x Mattress Page Sessions','YouTube x Bedding Page Sessions','YouTube x Retail Locations Page Sessions']
dflist_facebook = ['Facbeook x Homepage Sessions','Facbeook x Mattress Page Sessions','Facbeook x Bedding Page Sessions','Facbeook x Retail Locations Page Sessions']
dflist_snapchat = ['Snapchat X Homepage Sessions','Snapchat X Mattress Page Sessions','Snapchat X Bedding Page Sessions','Snapchat X Retail Locations Page Sessions']

cleaned_df['Total_Organic'] = cleaned_df[dflist_organic].sum(axis=1)
cleaned_df['Total_Direct'] = cleaned_df[dflist_direct].sum(axis=1)
cleaned_df['Total_Googlesearch'] = cleaned_df[dflist_googlesearch].sum(axis=1)
cleaned_df['Total_Youtube'] = cleaned_df[dflist_youtube].sum(axis=1)
cleaned_df['Total_Facebook'] = cleaned_df[dflist_facebook].sum(axis=1)
cleaned_df['Total_Snapchat'] = cleaned_df[dflist_snapchat].sum(axis=1)

cleaned_df.head(5)

        Date  Organic X Homepage Sessions  ...  Total_Facebook  Total_Snapchat
0 2019-01-01                        26243  ...           35927           22719
1 2019-01-02                        27185  ...           35583           22020
2 2019-01-03                        28111  ...           36858           19515
3 2019-01-04                        27134  ...           38162           20881
4 2019-01-05                        26211  ...           37634           18849

[5 rows x 31 columns]

In [6]:
#Split the month and year from date to calculate the monthly and yearly average
cleaned_df['month'] = cleaned_df['Date'].dt.month
cleaned_df['year'] = cleaned_df['Date'].dt.year

cleaned_df.head(5)

        Date  Organic X Homepage Sessions  ...  month  year
0 2019-01-01                        26243  ...      1  2019
1 2019-01-02                        27185  ...      1  2019
2 2019-01-03                        28111  ...      1  2019
3 2019-01-04                        27134  ...      1  2019
4 2019-01-05                        26211  ...      1  2019

[5 rows x 33 columns]

In [7]:
#grouping by month and calculating average
cleaned_df.groupby(['month'])['Total_Organic','Total_Direct','Total_Googlesearch','Total_Youtube','Total_Facebook','Total_Snapchat'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

       Total_Organic  Total_Direct  ...  Total_Facebook  Total_Snapchat
month                               ...
1       98263.790323  68168.725806  ...    36127.806452    20679.516129
2       97718.000000  67849.859649  ...    36307.701754    20042.824561
3       98331.612903  67536.241935  ...    36078.790323    20007.000000
4       97728.333333  68132.350000  ...    35789.766667    20074.233333
5       98393.661290  68176.661290  ...    35625.322581    20218.709677
6       98375.733333  67739.583333  ...    35821.400000    20021.233333
7       98057.548387  67686.870968  ...    36191.306452    20292.532258
8       98380.338710  67615.790323  ...    35666.241935    19728.838710
9       97706.550000  68108.916667  ...    36003.466667    19637.066667
10      98391.193548  68189.403226  ...    35645.870968    20074.258065
11      98101.650000  67660.866667  ...    35956.883333    19872.083333
12      97994.451613  68108.887097  ...    35840.709677    20436.000000

[12 rows x 6 columns]

In [8]:
#grouping by year and calculating average
cleaned_df.groupby(['year'])['Total_Organic','Total_Direct','Total_Googlesearch','Total_Youtube','Total_Facebook','Total_Snapchat'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

      Total_Organic  Total_Direct  ...  Total_Facebook  Total_Snapchat
year                               ...
2019   98161.545205  67792.547945  ...    35812.994521    20040.693151
2020   98087.647541  68037.117486  ...    36024.595628    20144.672131

[2 rows x 6 columns]